*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 28px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
}
a, a:hober{
	text-decoration: none;
}
/*--------------------------
------E-school coding start--------------------------
--------------------------------*/
/*-----------------header coding start---------------------*/
.header{
	width: 100%;
	background: #F0FFF0;
	height: 600px;
}
.main-menu{
	width: 100%;
}
.main-menu .bg-light {
    background-color: transparent!important;
}
.main-menu .navbar-light .navbar-brand img{
 	width: 198px;
}
.main-menu .navbar-light .navbar-nav .nav-link {
    margin: 0px 0px 0px 15px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    transition: 1s;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover{
	color: #21B573;
}
.main-menu .navbar-light .navbar-nav .nav-link .active{
	font-weight: 700;
	color: #000;	
}
.main-menu .navbar-light .navbar-nav .btn-success {
    color: #fff;
    background: #21B573;
	border-color: #21B573;
    padding: 10px 25px;
    border-radius: 33px;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 0px 20px;
    transition: 1s;
}
.main-menu .navbar-light .navbar-nav .btn-success:hover, .main-menu .navbar-light .navbar-nav .btn-success:focus{
 	color: #21B573;
    background: transparent;
	border-color: #21B573;
}
/*-----------------header coding end---------------------*/
/*-----------------banner coding start---------------------*/
.banner{
	width: 100%;
	padding: 80px 0px;
}
.banner h4{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #FD511A;
}
.banner h1{
	font-size: 48px;
	font-weight: 700;
	line-height: 70px;
	text-align: left;
	color: #000;
}
.banner h1 span{
	color: #21B573;
}
.banner p{
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	color: #6C6B6B;
}
.banner .btn-success{
	color: #fff;
    background: #21B573;
    padding: 10px 25px;
    border-radius: 33px;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    transition: 1s;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner .btn-success:hover,.banner .btn-success:focus{
	color: #21B573;
    background: transparent;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*-----------------banner coding end---------------------*/
/*-----------------feature section start---------------------*/
.feature-section{
	width: 100%;
	padding: 70px 0px 40px 0px;
}
.inner-feature{
	width: 100%;
	background: #F8FFFB;
	padding: 40px;
	text-align: center;
	border-radius: 10px;
}
.inner-feature:hover{
	background: #FFFFFF;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.inner-feature img{
	width: 70px;
	height: 78px;
	margin-bottom: 20px;
}
.inner-feature h4{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #413960;
	margin-bottom: 0px;
}
.inner-feature p{
	font-size: 14px;
	line-height: 24px;
	color: #585859;
	margin-bottom: 0px;
}
/*-----------------feature section end---------------------*/
/*-----------------online course section start--------------------*/
.online-course{
	width: 100%;
	padding: 80px 0px;
}
.online-course .title{
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: #413960;
	text-align: center;
	margin-bottom: 35px;
}
.online-course .card{
	padding: 20px;
	background: #FFFFFF;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	margin-bottom: 0px;
}
.online-course .card img{
	border-radius: 10px;
}
.online-course .card .card-body{
	padding: 15px 0px 0px 0px;
}
.online-course .card .card-body .card-title{
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #413960;
}
.online-course .card .card-body .card-text{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #585859;
}
.online-course .card .card-body .btn-success{
	padding: 8px 20px;
	background: #21B573;
	border-radius: 33px;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	transition: 1s;
}
.online-course .card .card-body .btn-success:hover, .online-course .card .card-body .btn-success:focus{
	color: #21B573;
    background: transparent;
	border: 1px solid  #21B573;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.online-course .card .card-body .icon {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #585859;
	margin-top: 20px;
}
.online-course .card .card-body .icon .fa{
 margin-right: 5px;
 }
.right{
	text-align: right;
}
/*-----------------online course section end--------------------*/
/*-----------------testimonial section start--------------------*/
.testimonial{
	width: 100%;
	padding: 30px 0px 80px 0px;
}
.testimonial .title{
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: #413960;
	text-align: center;
	margin-bottom: 35px;
}
.testimonial .flex-shrink-0{
	width: 75px;
	height: 75px;
	border-radius: 100%;
}
.testimonial p{
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-left: 30px;
}
/*-----------------testimonial section end--------------------*/
/*-----------------footer section start--------------------*/
.footer{
	width: 100%;
	padding: 80px 0px 0px;
	background: #282531;
}
.widget-1{
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
}
.footer h4{
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
}
.footer .footer-links{
	padding: 0px;
	width: 100%;
	margin-bottom: 70px;
}
.footer .footer-links li{
	list-style: none;
	margin-bottom: 5px;
}
.footer .footer-links li a{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
.copyright{
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #CDCDCD;
	padding: 20px 0px 10px;
}
/*-----------------footer section end--------------------*/







